:root {
    --primary-text-color: #212121;
    --background-color: #FFFFFF;
    --accent-color: #2196F3;
    --sections-color: #2F303A;
    --text-color: #757575;
    --contacts-link: #FFFFFF60;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    width: 1200px;
}

a {
    text-decoration: none
}

li {
    list-style-type: none;
}

body {
    color: var(--primary-text-color);
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.header {
    background-color: var(--background-color);
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;      
}

.header .logo {
    color: #000000;
}

.accent {
    color: var(--accent-color);

}

.header .contacts-link {
    color: var(--text-color);
}

.header .contacts-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-link {
    color: var(--primary-text-color);
}

.nav-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.site-nav .current {
    color: var(--accent-color);
}

.contacts-link:hover 
.contacts-link:focus {
    color: var(--accent-color);
}

.hero {
    background: var(--sections-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-color)
}

.hero .button {
    color: var(--background-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero .button:hover,
.hero .button:focus {
    background-color: #188CE8
}


.advantages-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.advantages-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color);
}

.section-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--primary-text-color);
}

.team-title {
    font-size: 36px;
    line-height: 1.116;
    text-align: center;
    color: var(--primary-text-color);
}

.team-member-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.team-descprition {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.section {
    background-color: var(--sections-color);
}

.team {
    background-color: #F5F4FA;
}


.contacts, .nav-link, p {
    color: var(--text-color);
}

.nav-link {
    color: var(--primary-text-color);
}

.button {
    cursor: pointer
}

.buttons .button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.65;
    text-align: center;
}

.projects-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects-description {
    font-size: 16px;
    line-height: 1.87;
}

.button:hover,
.button:focus {
    color: var(--background-color);
    background-color: var(--accent-color);
}

.footer {
    background-color: var(--sections-color);
}

.footer .studio,
.address .address-link {
    color: var(--background-color);
}

.footer .address-link {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

footer .contacts-link {
    
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    color: var(--contacts-link);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

