:root {
    --primary-text-color: #212121;
    --background-color: #FFFFFF;
    --accent-color: #2196F3;
    --sections-color: #2F303A;
    --text-color: #757575;
    --contacts-link: #FFFFFF60;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
}

.section-list {
    display: flex;
    justify-content: space-between;
}

.advantages-list {
    display: flex;
}

.team-list {
    display: flex;
}

.list-item:nth-child(-n + 4) {
    margin-right: 30px;
}

.list-item:last-child {
    margin-right: 0;
}

a {
    text-decoration: none
}

li {
    list-style-type: none;
}

body {
    color: var(--primary-text-color);
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.header {
    background-color: var(--background-color);
    border-bottom: 1px solid #ECECEC;
}

.logo {
    display: inline-block;
    margin-right: 93px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;      
}

.header .logo {
    color: #000000;
    
}

.accent {
    color: var(--accent-color);

}


.header .contacts-link {
    display: flex;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.nav-link {
    color: var(--primary-text-color);
}

.nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.site-nav {
    display:flex
}

.site-nav .item {
    margin-right: 50px;
}

.site-nav .item:last-child {
    margin-right: 0;
}

.site-nav .current {
    color: var(--accent-color);
}

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts .item + .item {
    margin-left: 50px;
}

.contacts-link:hover 
.contacts-link:focus {
    color: var(--accent-color);
}

.header-nav {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.hero {
    text-align: center;
    background: var(--sections-color);
}

.hero-title {
    /* margin-top: 200px; */
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-color)
}

.hero .button {
    padding: 10px 32px;
    /* margin-bottom: 200px; */
    color: var(--background-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.85;
}

.hero .button:hover,
.hero .button:focus {
    background-color: #188CE8
}


.advantages-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.advantages-description {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,7;
    color: var(--text-color);
}

.section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--primary-text-color);
}

.team-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.116;
    text-align: center;
    color: var(--primary-text-color);
}

.team-member-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.team-descprition {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.team {
    background-color: #F5F4FA;
}


.contacts, .nav-link, p {
    color: var(--text-color);
}

.nav-link {
    color: var(--primary-text-color);
}

.button {
    cursor: pointer
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.buttons .list-item:nth-child(-n + 5) {
    margin-right: 10px;
}

.buttons .list-item:last-child {
    margin-right: 0;
}
    

.buttons .button {
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.65;
    text-align: center;
    background: #F5F4FA;
    border-radius: 4px;
    border: transparent;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


.projects-description {

    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.87;
}

.projects-card { 
    padding-top: 30px;
    border: 1px solid #ccc;
    border-top: none;
}

.projects-title {
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 24px;
    margin-right: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.button:hover,
.button:focus {
    color: var(--background-color);
    background-color: var(--accent-color);
}

.footer {
    background-color: var(--sections-color);
}

.footer .logo {
    margin-top: 60px;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 20px;
    margin-right: 0;
    display: inline-block;
}

.address {
    padding-bottom: 60px;
}

.footer .studio,
.address .address-link {
    color: var(--background-color);
}

.footer .address-link {
    display: inline-block;
    margin-bottom: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
}

.footer .contacts-link {
    margin-bottom: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    color: var(--contacts-link);
}



.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

